@font-face {
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 16px;
    src: url(../public/assets/fonts/RobotoMono/RobotoMono-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: normal;
    font-size: 16px;
    src: url(../public/assets/fonts/RobotoMono/RobotoMono-Regular.ttf);
}

body,
p {
    font-weight: normal;
    font-family: 'Roboto Mono', 'monospace';
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    font-family: 'Roboto Mono', 'sans-serif';
}

.markdown > h2,
nav > a {
    font-family: 'Roboto Mono', 'sans-serif';
    font-size: 25pt;
    margin-block-start: 0;
    text-decoration: none;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

html,
body,
#root,
div [tabindex='-1'] {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../public/assets/img/background.png);
}

img {
    max-width: 100%;
}
